body {
  position: fixed;
  background-color: black;
  align-content: center;
  cursor: url("../images/c1.png"), auto;
}

/* Scrolling Text  */
#logo {
  position: absolute;
  font-size: 51px;
  z-index: 3;
  margin: 24px 0 0 519px;
  width: 395px;
  border-radius: 11px;
  background: black;
  color: yellow;
  height: 95px;
  font-family: 'Bungee Inline', cursive;
}

/* Background Image */
#bimg {
  position: absolute;
  z-index: 2;
  margin: -42px 0 0 201px;
}

/* Moles */
/* ------------------------------------------------------------------------------------------------------------------- */
#mole {
  background: url("../images/mole.png") center bottom no-repeat;
  background-size: 82px;
  transform: translateY(60%);
  transition: transform 0.4s;
  visibility: hidden;
  width: 106px;
  height: 102px;
  padding: 0;
  cursor: url("../images/c2.png"), auto;
}

#mole1 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 20;
  margin: 377px 0 0 515px;
}

#mole2 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 20;
  margin: 407px 0 0 605px;
}
#mole3 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 20;
  margin: 377px 0px 0 695px;
}

#mole4 {
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 20;
  margin: 403px 0 0 804px;
}


.active {
  visibility: visible !important;
  transform: translateY(0) !important;
}

/* Start Button */
#btn {
  position: absolute;
  z-index: 30;
  margin: 535px 0 0 522px;
  background-color: gold;
  border-radius: 149px;
  width: 61px;
  height: 57px;
  font-weight: bold;
}

/* ------------------------------------------------------------------------------------------------------------------- */

/* questions */
#questions {
  position: absolute;
  z-index: 30;
  margin: 222px 0 0 585px;
}

/* Timer */
#time {
  position: absolute;
  z-index: 40;
  color: palegoldenrod;
  font-size: 23px;
  margin: 184px 0 0 575px;
  text-align: right;
  width: 131px;
  font-family: 'Bungee Inline', cursive;
}

/* Score */
#score {
  position: absolute;
  float: left;
  z-index: 40;
  color: palegoldenrod;
  font-size: 23px;
  margin: 184px 0 0 716px;
  width: 133px;
  text-align: right;
  font-family: 'Bungee Inline', cursive;
}

/* Whack Sound */
.bsounds {
  display: none;
}

/* Sound On/off */
#bsoundoff {
  margin: 533px 0 0 796px;
  float: right;
  position: absolute;
  padding: 12px;
  z-index: 70;
  width: 121px;
  color: gold;
  cursor: pointer;
}
/* @Media */

@media (min-width: 100px) {
  #gam {
    margin: 60px 0 0 -512px;
  }
}
@media (min-width: 768px) {
  #gam {
    margin: 60px 0 0 -346px;
  }
}

@media (min-width: 1024px) {
  #gam {
    margin: 109px 0 0 -198px;
  }
}

@media (min-width: 1440px) {
  #gam {
    margin: 82px 0 0 0;
  }
}
